:root {
  --bg-dark: #020617;
  --bg-mid: #020617;
  --card-bg: #020617;
  --border: #1e293b;
  --text-main: #e5e7eb;
  --text-muted: #94a3b8;
  --accent: #4d5ec0;
}

body {
  background: linear-gradient(to bottom, #020617, #020617, #000000);
  color: var(--text-main);
}

.home-container {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 0 1.5rem;
}

/* Hero */
.hero {
  text-align: center;
  padding: 7rem 0;
}

.hero h1 {
  font-size: clamp(2.5rem, 6vw, 3.75rem);
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.hero span {
  color: var(--accent);
}

.hero p {
  max-width: 700px;
  margin: 0 auto 2.5rem;
  font-size: 1.1rem;
  color: var(--text-muted);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.75rem;
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all 0.25s ease;
}

.btn-primary {
  background: var(--accent);
  color: white;
  border: 1px solid var(--accent);
}

.btn-primary:hover {
  opacity: 0.9;
  border: 1px solid white;
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--border);
  color: var(--text-main);
}

.btn-outline:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.feat-card {
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 1.75rem;
  transition: 0.5s  ;
}

.feat-card:hover{
    transform: scale(1.05);
    z-index: 5;
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.95rem;
  color: var(--text-muted);
}

.card-icon {
  color: var(--accent);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* CTA */
.cta {
  text-align: center;
}

.cta h2 {
  font-size: clamp(2rem, 5vw, 2.75rem);
  margin-bottom: 1rem;
}

.cta p {
  max-width: 600px;
  margin: 0 auto 2rem;
  color: var(--text-muted);
}

footer {
  border-top: 1px solid var(--border);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.btn-container{
    display: flex;
    justify-content: center;
}

/* Responsive */
@media (max-width: 640px) {
  .hero-buttons {
    flex-direction: column;
  }
}
