* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #212121;
    display: flex;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.35);
  border-radius: 10px;
}
::-webkit-scrollbar-track { background: transparent; }
